
/* NAVBAR */

.body {
    background: #fbfbfb;
}

.navbar {
    padding: 0;
}

.bg-navbar {
    width: 100%;
    display: flex;
    background: #79a6de;
    padding: 5px;
}

.nav-logo img {
    width: 75px;
    height: 75px;
}

.menu-nav {
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

.nav-container {
    justify-content: end;
}

.nav-item {
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #e1ff39;
}

/* Estilos gerais do rodapé */
.rodape {
    background: #79a6de;
    color: white;
    padding-top: 20px;
}

.conteiner {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.pn-linha {
    display: flex;
    justify-content: space-between;
}

.pn-coluna {
    padding: 10px;
    text-align: left;
}

.pn-coluna-pequena {
    flex: 0.3;
    text-align: right;
}

.rodape-titulo {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.rodape-link {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .pn-linha {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .pn-coluna {
        text-align: left;
        padding: 10px;
        border-radius: 8px;
    }
}

@media screen and (max-width: 500px) {
    .pn-linha {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .pn-coluna {
        text-align: center;
    }

    .rodape-titulo {
        text-align: center;
    }
}

.sub-rodape {
    background: #4e77a9;
    padding: 5px 0;
}

.sub-rodape p {
    margin-bottom: 0;
    margin-left: 10px;
}
